.header {
  padding: 1rem;
  background-color: var(--yellow-300);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header h2 {
  color: #fffbeb;
}

.header__list {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
}

.logo {
  height: 4rem;
  width: 4rem;
  background-color: white;
  border-radius: 50%;
}
.profile {
  height: 4rem;
  width: 4rem;
  fill: white;
  background-color: var(--yellow-300);
  border-radius: 50%;
}
