.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--yellow-500);
}

.split {
  background-color: rgba(254, 243, 199, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--yellow-500);
  flex: 1 1 0px;
}
