.radio__wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 2rem 2rem 1rem 2rem;
}

.radio {
  height: 4rem;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(120, 53, 15, 0.25);
  flex-grow: 1;
  border-radius: 2rem;
  /* /////////// */

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
}

.radio__element {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.8rem;
  flex-grow: 1;
  justify-content: center;
  display: flex;
  border-radius: 2rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  position: relative;
  color: rgba(120, 54, 15, 0);
}

.radio__input {
  display: none;
}

.radio__label {
  position: absolute;
  top: 0;
  border-radius: 2rem;
  text-align: center;
  width: 100%;
  color: black;
  z-index: 1;
  height: 100%;
  cursor: pointer;
}
.radio__text {
  position: absolute;
  top: 0;
  border-radius: 2rem;
  text-align: center;
  width: 100%;
  color: black;
}

.radio__slider {
  width: calc(50% - 1.2rem);
  height: calc(100% - 1.2rem);
  background-color: rgba(255, 196, 0, 0.555);
  position: absolute;
  border-radius: 2rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  transition: 0.3s;
}

.clicked {
  transform: translateX(calc(100% + 1.2rem));
}
