.radio__wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 1rem 2rem 1rem 2rem;
}

.radio {
  height: 5rem;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(120, 53, 15, 0.25);
  flex-grow: 1;
  border-radius: 5rem;
  /* /////////// */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  position: relative;
}

.radio__element {
  background-color: rgba(120, 53, 15, 0);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.radio a {
  display: flex;
  flex-flow: row;
  justify-content: center;
  height: 100%;
}

.radio__slider {
  width: calc(50% - 1.2rem);
  height: calc(100% - 1.2rem);
  background-color: rgba(255, 196, 0, 0.555);
  position: absolute;
  border-radius: 2rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  transition: 0.3s;
}

.community {
  transform: translateX(calc(100% + 1.2rem));
}

.empty {
  display: none;
}
