.clock {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 2rem;
  padding: 0 1rem;
  margin: 2rem;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}
