.run__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.workout {
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}

.header__chips {
  display: flex;
  flex-flow: row wrap;
  gap: 0.8rem;
  justify-content: flex-start;
}

.header__info svg {
  height: 2rem;
  fill: var(--gray-400);
}

.metrics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  margin-top: 1.5rem;
  width: 100%;
}
