.spinner {
  display: inline-block;
  width: 8.5rem;
  height: 8.5rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 6px solid var(--yellow-400);
  border-color: var(--yellow-400) var(--gray-200) var(--gray-200) var(--gray-200);
  animation: spinner 0.8s linear infinite;
}

.large {
  width: 8.5rem;
  height: 8.5rem;
}

.large:after {
  width: 6.4rem;
  height: 6.4rem;
  border: 10px solid var(--yellow-400);
  border-color: var(--yellow-400) var(--gray-200) var(--gray-200) var(--gray-200);
}

.medium {
  width: 6.9rem;
  height: 6.9rem;
}

.medium:after {
  width: 4.8rem;
  height: 4.8rem;
}

.small {
  width: 5.3rem;
  height: 5.3rem;
}

.small:after {
  width: 3.2rem;
  height: 3.2rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
